@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
.main {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: 400;
}

img {
  height: 100px;
}

legend {
  color: #222;
  font-size: 20px;
  font-weight: bold;
  font-family: "Bitter", serif;
  font-weight: 700;
  text-align: center;
}

fieldset {
  border: 7px solid #5B2410;
  font-weight: bold;
  border-radius: 10px;
}

label, h4 {
  color: #222;
  font-weight: bold;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-weight: 400;
}

.event-title h4{
  font-size: 1.2em;
}

h3{
  font-family: "Bitter", serif;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 5px;
}

option.placeholder{
  color: #ccc;
}

.button {
  background-color: #5B2410;
  font-family: "Bitter", serif;
  font-weight: 700;
  opacity: 1;
}

.button:hover{
  background: #5B2410;
  opacity: .95;
}

.form-row {
  border-bottom: 2px solid #B79F94;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.dollar{
  width: 10px;
  display: inline-block;
  margin-left: -10px;
}

.footer-section{
  margin-bottom: 0px;
  margin-top: 10px;
}
.footer-section p{
  font-size: 12px;
  line-height: 12px;
  font-style: italic;
}

input#other_amount{
  display: inline-block;
  width: auto;
}

input, input#other_amount{
  height: 40px;
}

select{
  cursor: pointer;
}

.event-title{
  text-align: center;
  margin-bottom: 20px;
}

@media(max-width: 767px){

}
